.MenuItem {
    position: relative;
    z-index: 1;
    padding: 0 10px;
}
.MenuItem::before {
    background: #614c80;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
    z-index: -1;
}
.MenuItem.-active {
    color: #fff;
}
.MenuItem.-active::before {
    transform-origin: left top;
    transform: scale(1, 1);
}
.MenuItem.line:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}