@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    vertical-align: baseline;
    background: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input, select {
    vertical-align: middle;
}

/**********************************
 * Main CSS                       *
 **********************************/

.Main {
    color: #f3eefe;
    background-color: #464061;
    width: 100%;
    height: 100vh;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.Main::-webkit-scrollbar {
    display: none;
}

.MenuBar {
    top: 0;
    left: 0;
    padding: 0;
    height: 100px;
    width: 100%;
    z-index: 100;
    position: fixed;
    display: flex;
    text-align: left;
    background-color: rgba(234, 227, 226, 0.1);
}

.MenuContainer {
    margin: 0 0 0 auto;
    width: auto;
    height: 100px;
    display: inline-block;
}

.Component {
    width: 100%;
    min-height: 1080px;
    display: block;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.Background-Skybees {
    background-image: url("resources/backgrounds/skybees.png");
}

.Background-Lobby {
    background-image: url("resources/backgrounds/lobby.png");
}

.JoinButton {
    display: block;
    font-weight: lighter;
    line-height: 90px;
    font-size: 75px;
    padding: 30px 50px;
    position: relative;
    background: #fff;
    color: #ff701e;
    border-radius: 100px;
    overflow: hidden;
    z-index: 1;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
}

.JoinButton::after {
    background: #ff701e;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    transform-origin: left top;
    transition: .2s cubic-bezier(0.45, 0, 0.55, 1);
    z-index: -1;
    transform: skewY(-10deg) scale(1, 0);
    height: 250px;
}

.JoinButton:hover {
    color: white;
}

.JoinButton:hover::after {
    transform: skewY(-10deg) scale(1, 1);
    color: white;
}

.MenuContainer a {
    background: none;
    border: none;
    position: relative;
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    width: auto;
    height: 50px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 25px 15px;
    display: inline-block;
    transition: color 0.3s ease 0s;
    color: white;
}

.MenuContainer a::before {
    background: #5f4eb8;
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    margin: auto;
    transform: scale(0, 1);
    transform-origin: right top;
    transition: transform .3s;
    z-index: -1;
}

.MenuContainer a:hover {
    color: #fff;
}

.MenuContainer a:hover::before {
    transform-origin: left top;
    transform: scale(1, 1);
}